# Question 1

Consider the following Python module:</br>
a = 0</br>
def b():</br>
global a</br>
a = c(a)</br>
def c(a):</br>
return a + 2</br>
After importing the module into the interpreter, you execute:</br>
b()</br>
b()</br>
b()</br>
a</br>
?</br>
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [4]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

b()
b()
b()
a

6

The value of a when last expression is evaluated is 6

# Explaination

a is defined as 0 at first

when b() is called for first time, it takes the value of a which is 0 and passes the value of a to function c which assigns the value to a which is 0+2 so now a becomes 2.

Again when b() is called then the value of a is already 2 so it takes that value and passes that value as an argument to c function and which returns the value as 2+2 = 4 which is assigned to the variable a by b()

when b() is called for third time, it again takes the updated value of a which is 4 and passes this value as an argument and calls c() and passes value of a which is 4 and c() returns the value 4+2 = 6 and b() assigns this value to a 

so at last when printing the value of a we get the answer as 6

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:</br></br>
fileLength('midterm.py')</br>
284</br>
fileLength('idterm.py')</br>
Traceback (most recent call last):</br>
File "<pyshell#34>", line 1, in <module></br>
fileLength('idterm.py')</br>
File "/Users/me/midterm.py", line 3, in file Length</br>
infile = open(filename)</br>
FileNotFoundError: [Errno 2] No such file or directory:</br>
'idterm.py'</br></br>
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:</br></br>
fileLength('midterm.py')</br>
358</br>
fileLength('idterm.py')</br>
File idterm.py not found.</br>

In [9]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError: # Handle the FileNotFoundError
        print(f"File {file_name} not found.")
    except Exception as e: # Handle other exceptions
        print(f"An error occurred: {e}") 
        
file_length('filelength.txt')
file_length('idterm.py')

123
File idterm.py not found.

# Question 3
Write a class named Marsupial that can be used as shown below:</br></br>
m = Marsupial()</br>
m.put_in_pouch('doll')</br>
m.put_in_pouch('firetruck')</br>
m.put_in_pouch('kitten')</br>
m.pouch_contents()</br>
['doll', 'firetruck', 'kitten']</br></br>

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:</br></br>
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,</br>
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the y-
axis, and</br>
c. overloads the __str__ operator so it behaves as shown below.</br></br>
k = Kangaroo(0,0)</br>
print(k)</br>
I am a Kangaroo located at coordinates (0,0)</br>
k.put_in_pouch('doll')</br>
k.put_in_pouch('firetruck')</br>
k.put_in_pouch('kitten')</br>
k.pouch_contents()</br>
['doll', 'firetruck', 'kitten']</br>
k.jump(1,0)</br>
k.jump(1,0)</br>
k.jump(1,0)</br>
print(k)</br>
I am a Kangaroo located at coordinates (3,0)</br>

In [16]:
class Marsupial:
    def __init__(self):
        self.lst = []

    def put_in_pouch(self, animal):
        self.lst.append(animal)

    def pouch_contents(self):
        return self.lst


class Kangaroo(Marsupial):
    def __init__(self, cox, coy):
        super().__init__() # Extending Marsupial class __init__() constructor
        self.cox = cox
        self.coy = coy

    def jump(self, dx, dy): # taking dx and dy arguments to move on x-axis and y-axis
        self.cox += dx
        self.coy += dy

    def __str__(self): # Overloading __str__ function
        return f"I am a Kangaroo located at coordinates ({self.cox},{self.coy})"
    

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(f"Super class: {m.pouch_contents()}")

k = Kangaroo(0, 0)
print(f"Kangaroo class: {k}")
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(f"Kangaroo class: {k.pouch_contents()}")
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(f"Kangaroo at after jumping 3 times: {k}")

Super class: ['doll', 'firetruck', 'kitten']
Kangaroo class: I am a Kangaroo located at coordinates (0,0)
Kangaroo class: ['doll', 'firetruck', 'kitten']
Kangaroo at after jumping 3 times: I am a Kangaroo located at coordinates (3,0)

# Question 4

Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:</br></br>
x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑</br></br>
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.</br></br>

collatz(1)</br>
1</br>
collatz(10)</br>
10</br>
5</br>
16</br>
8</br>
4</br>
2</br>
1</br>

In [25]:
def collatz(x):
    
    print(x) # printing the number itself
    
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)
        
print("\nCollatz(1): \n")        
collatz(1)
print("\nCollatz(10): \n")
collatz(10)

Collatz(1):

1

Collatz(10):

10
5
16
8
4
2
1

# Question 5

Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.</br></br>
binary(0)</br>
0</br>
binary(1)</br>
1</br>
binary(3)</br>
11</br>
binary(9)</br>
1001</br>

In [44]:
def binary(n):
    #when n is 0
    if n == 0:
        print(0)
    elif n == 1:
        print(1,end='')
    else:
        #call binary() with n // 2 and printing the remainder
        binary(n // 2)
        print(n % 2, end='')
    
print("\nbinary(0): \n")        
binary(0)
print("\nbinary(1): \n")
binary(1)
print("\n\nbinary(3): \n")
binary(3)
print("\n\nbinary(9): \n")
binary(9)

binary(0):

0

binary(1):

1

binary(3):

11

binary(9):

1001

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.</br></br>
infile = open('w3c.html')</br>
content = infile.read()</br>
infile.close()</br>
hp = HeadingParser()</br>
hp.feed(content)</br>
W3C Mission</br>
Principles

In [46]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.in_heading = False
        self.indentation = 0

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and len(tag) == 2 and tag[1].isdigit():
            self.in_heading = True
            self.indentation = int(tag[1]) - 1

    def handle_endtag(self, tag):
        if self.in_heading:
            self.in_heading = False

    def handle_data(self, data):
        if self.in_heading:
            print(' ' * self.indentation + data)


infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.</br></br>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)</br>
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html</br>
http://reed.cs.depaul.edu/lperkovic/csc242/test2.html</br>
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html</br>
http://reed.cs.depaul.edu/lperkovic/csc242/test3.html</br>
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html</br>

In [5]:
from urllib.request import urlopen
from html.parser import HTMLParser
from urllib.parse import urljoin, urlparse

class LinkParser(HTMLParser):
    def __init__(self, base_url):
        super().__init__()
        self.base_url = base_url
        self.links = []

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr, value in attrs:
                if attr == 'href':
                    self.links.append(urljoin(self.base_url, value))

def webdir(url, depth, indent):
    
    try:
        with urlopen(url) as response:
            html_content = response.read().decode('utf-8')
    except Exception as e:
        print(f"Error accessing {url}: {e}")
        return

    parser = LinkParser(url)
    parser.feed(html_content)
    
    print(' ' * indent + url)

    if depth > 0:
        for link in parser.links:
            webdir(link, depth - 1, indent + 2)

# Usage

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 1, 0) #getting the error in accessing this website

Error accessing http://reed.cs.depaul.edu/lperkovic/csc242/test1.html: HTTP Error 404:

In [7]:
webdir('https://www.facebook.com', 1, 0)

https://www.facebook.com
  https://www.facebook.com
  https://www.facebook.com/recover/initiate/?privacy_mutation_token=eyJ0eXBlIjowLCJjcmVhdGlvbl90aW1lIjoxNzA5MzIyMzExLCJjYWxsc2l0ZV9pZCI6MzgxMjI5MDc5NTc1OTQ2fQ%3D%3D&ars=facebook_login
  https://www.facebook.com
  https://www.facebook.com/pages/create/?ref_type=registration_form
  https://fr-ca.facebook.com/
  https://es-la.facebook.com/
  https://zh-cn.facebook.com/
  https://ko-kr.facebook.com/
  https://ja-jp.facebook.com/
  https://pt-br.facebook.com/
  https://de-de.facebook.com/
  https://it-it.facebook.com/
  https://ar-ar.facebook.com/
  https://hi-in.facebook.com/
  https://www.facebook.com
  https://www.facebook.com/reg/
  https://www.facebook.com/login/
  https://messenger.com/
  https://www.facebook.com/lite/
  https://www.facebook.com/watch/
  https://www.facebook.com/places/
  https://www.facebook.com/games/
  https://www.facebook.com/marketplace/
  https://pay.facebook.com/
  https://www.meta.com/
  https://www.meta.com/quest/
  https://l.facebook.com/l.php?u=https%3A%2F%2Fimagine.meta.com%2F&h=AT17r6iD9kNmNPsyzRrxMAUHY9l6jR2gTlXzEKHShqdbALW0hzPY9F8D-tyxgf9RQTGd0TIWrz3mPEr8vzL0Aj9Q-_Z2-ojhfSrKFZmJ0mUXWI2W3A5-YCdCYL5bqmvI2c77jGToL5UIhmT9
  https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.instagram.com%2F&h=AT1Vd8Tk6i8WLaFgNuPt4S6iOaGSOivVWdTPK2IRC2VTWUBON8sj-dP_RI_0TaiBkHSLJxq7qaMEwuLeCoilAyA96_ZyE9aqRMaud8xbiHvz5ITwmPSgt9pMufbvF721Mdg5dBdJJjaczBTp
  https://www.threads.net/
  https://www.facebook.com/fundraisers/
  https://www.facebook.com/biz/directory/
  https://www.facebook.com/votinginformationcenter/?entry_point=c2l0ZQ%3D%3D
  https://www.facebook.com/privacy/policy/?entry_point=facebook_page_footer
  https://www.facebook.com/privacy/center/?entry_point=facebook_page_footer
  https://www.facebook.com/groups/discover/
  https://about.meta.com/
  https://www.facebook.com/ad_campaign/landing.php?placement=pflo&campaign_id=402047449186&nav_source=unknown&extra_1=auto
  https://www.facebook.com/pages/create/?ref_type=site_footer
  https://developers.facebook.com/?ref=pf
  https://www.facebook.com/careers/?ref=pf
  https://www.facebook.com/policies/cookies/
  https://www.facebook.com/help/568137493302217
  https://www.facebook.com/policies?ref=pf
  https://www.facebook.com/help/?ref=pf
  https://www.facebook.com/help/637205020878504
  https://www.facebook.com/settings
  https://www.facebook.com/allactivity?privacy_source=activity_log_top_menu

# Question 8

Write SQL queries on the below database table that return:</br>
a) All the temperature data.</br>
b) All the cities, but without repetition.</br>
c) All the records for India.</br>
d) All the Fall records.</br>
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.</br>
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.</br>
g) The total annual rainfall for Cairo.</br>
h) The total rainfall for each season.</br></br></br>
City Country Season Temperature(C) Rainfall(mm)</br>
Mumbai India Winter 24.8 5.9</br>
Mumbai India Spring 28.4 16.2</br>
Mumbai India Summer 27.9 1549.4</br>
Mumbai India Fall 27.6 346.0</br>
London United Kingdom Winter 4.2 207.7</br>
London United Kingdom Spring 8.3 169.6</br>
London United Kingdom Summer 15.7 157.0</br>
London United Kingdom Fall 10.4 218.5</br>
Cairo Egypt Winter 13.6 16.5</br>
Cairo Egypt Spring 20.7 6.5</br>
Cairo Egypt Summer 27.7 0.1</br>
Cairo Egypt Fall 22.2 4.5</br>

In [18]:
import sqlite3

# Creating a new database
conn = sqlite3.connect('ps2.db')
cursor = conn.cursor()
cursor.execute("DROP TABLE if exists weather_data ") # dropping table weather_data if it already exists
# Creating the table
cursor.execute('''CREATE TABLE weather_data (
                    city TEXT,
                    country TEXT,
                    season TEXT,
                    temperature_c REAL,
                    rainfall_mm REAL
                )''')

# Inserting the data into the table
w_data = [('Mumbai', 'India', 'Winter', 24.8, 5.9),
        ('Mumbai', 'India', 'Spring', 28.4, 16.2),
        ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
        ('Mumbai', 'India', 'Fall', 27.6, 346.0),
        ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
        ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
        ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
        ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
        ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
        ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
        ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
        ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

cursor.executemany('INSERT INTO weather_data VALUES (?, ?, ?, ?, ?)', w_data)

# Committing the changes
conn.commit()

cursor.execute("SELECT temperature_c FROM weather_data")
all_temperature_data = cursor.fetchall()
print("a) All the temperature column data.\n")
for row in all_temperature_data:
    print(row[0])

a) All the temperature column data.

24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2

In [19]:
cursor.execute("SELECT distinct city FROM weather_data")
distinct_city_data = cursor.fetchall()
print("b) All the cities, but without repetition.\n")
for row in distinct_city_data:
    print(row[0])

b) All the cities, but without repetition.

Mumbai
London
Cairo

In [22]:
cursor.execute("SELECT * FROM weather_data where country = 'India'")
india_data = cursor.fetchall()
print("c) All the records for India.\n")
for row in india_data:
    print(row)

c) All the records for India.

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [23]:
cursor.execute("SELECT * FROM weather_data where season = 'Fall'")
all_fall_data = cursor.fetchall()
print("d) All the Fall records..\n")
for row in all_fall_data:
    print(row)

d) All the Fall records..

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [25]:
cursor.execute("SELECT city, country, season FROM weather_data where rainfall_mm between 200 and 400")
rainfall = cursor.fetchall()
print("e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.\n")
for row in rainfall:
    print(row)

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

In [29]:
cursor.execute("SELECT city, country FROM weather_data where temperature_c > 20 and season = 'Fall' order by temperature_c asc")
rainfall = cursor.fetchall()
print("f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.\n")
for row in rainfall:
    print(row)

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

('Cairo', 'Egypt')
('Mumbai', 'India')

In [34]:
cursor.execute("SELECT sum(rainfall_mm) FROM weather_data where city='Cairo'")
cairo_rainfall = cursor.fetchone()
print(f"g) The total annual rainfall for Cairo: {cairo_rainfall[0]}")

g) The total annual rainfall for Cairo: 27.6

In [38]:
cursor.execute("SELECT season, sum(rainfall_mm) FROM weather_data group by season")
season_rainfall = cursor.fetchall()
print("h) The total rainfall for each season.\n")
for row in season_rainfall:
    print(row)

h) The total rainfall for each season.

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

# Question 9

. Suppose list words is defined as follows:</br>
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']</br>
Write list comprehension expressions that use list words and generate the following
lists:</br>
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']</br>
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']</br>
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).</br>
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)</br>
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [40]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
print("a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']\n")
a = [word.upper() for word in words]
print(a)

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [41]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
print("b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']\n")
a = [word.lower() for word in words]
print(a)

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [44]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
print("c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).\n")
a = [len(word) for word in words]
print(a)

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [45]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
print("d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.).\n")
a = [[word.upper(),word.lower(),len(word)] for word in words]
print(a)

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.).

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [47]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
print("e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)\n")
a = [word.lower() for word in words if len(word)>=4]
print(a)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

['quick', 'brown', 'jumps', 'over', 'lazy']